<%=@city.name%>
<%@city.listings.each do |listing|%>
  <%=listing.title%>
  <ul>
    <li><%=listing.neighborhood.name%></li>
    <li><%=listing.address%></li>
    <li><%=listing.listing_type%></li>
    <li><%=listing.description%></li>
    <li>$<%=listing.price%></li>
    <li><%=listing.host.name%></li>
    <li>Average Review:<%=listing.average_review_rating%></li>
  </ul>
<%end%>

<%=form_tag listings_path do%>
  <label>Check-in:</label>
  <input type="datetime-local" name="start_date">
  <label>Check-out:</label>
  <input type="datetime-local" name="end_date">
  <input type="submit" value="submit dates">
<%end%>
